
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">

        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Atividades</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/sistema/admin">Página Inicial</a></li>
              <li class="breadcrumb-item active">Menu atividades</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Lista de atividades</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Matéria</th>
                    <th>Descrição</th>
                    <th>Data de entrega</th>
                    <th>Status</th>
                    <th>Data de conclusão</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                {loop="$atividades"}
                  <tr>
                    <td>{$value.idatividade}</td>
                    <td>{$value.ativ_materia}</td>
                    <td>{$value.ativ_descricao}</td>
                    <td>{function="converterBR($value.ativ_vencimento)"}</td>

                    {if="$value.ativ_conclusao != ''"}
                        <td>Concluída</td>    
                      {else}
                        {if="$value.ativ_vencimento <= $dia"}
                            {if="$value.ativ_vencimento == $dia"}
                              <td>À vencer hoje</td>
                            {else}
                              <td>Vencida</td>
                            {/if}
                          {else}
                            <td>Não concluída</td>
                        {/if}
                    {/if}


                    {if="$value.ativ_conclusao != ''"}
                      <td>{function="converterBR($value.ativ_conclusao_data)"} ás {$value.ativ_conclusao_hora}</td>
                      {else}
                      <td></td>
                    {/if}
                    
                    <td>

                        {if="$value.ativ_conclusao == 'SIM'"}
                          <a class="btn btn-success btn-sm" href="/sistema/atividades/desconcluir/{$value.idatividade}" onclick="return confirm('Deseja realmente mudar o status para não concluída?')">
                            <i class="fas fa-sync-alt">
                            </i>
                            
                        </a>
                          {else}
                          <a class="btn btn-success btn-sm" href="/sistema/atividades/concluir/{$value.idatividade}" onclick="return confirm('Deseja realmente mudar o status para concluída?')">
                            <i class="fas fa-check">
                            </i>
                            
                        </a>
                        {/if}
                        <a class="btn btn-info btn-sm" href="/sistema/atividades/update/{$value.idatividade}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            
                        </a>
                        <a class="btn btn-danger btn-sm" href="/sistema/atividades/delete/{$value.idatividade}" onclick="return confirm('Deseja realmente excluir esta atividade?')">
                            <i class="fas fa-trash">
                            </i>
                            
                        </a>
                    </td>
                  </tr>
                {/loop}
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
